[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
biopython = "==1.76"
gensim = "==3.8.3"
lifelines = "==0.24.6"
matplotlib = "==3.2.1"
networkx = "==2.4"
numpy = "==1.18.4"
pandas = "==1.0.3"
plotly = "==4.7.1"
requests = "==2.23.0"
requests-toolbelt = "==0.9.1"
scipy = "==1.4.1"
seaborn = "==0.10.1"
scikit-learn = "==0.23.0"

[requires]
python_version = "3.7"
