[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
lifelines = "*"
matplotlib = "*"
plotly = "*"
scipy = "*"
seaborn = "*"
toml = "*"

[packages]
biopython = ">=1.76"
gensim = ">=3.8.0"
networkx = ">=2.4.0"
numpy = ">=1.18.0"
pandas = ">=1.0.0"
requests = ">=2.23.0"
scikit-learn = ">=0.23.0"
mosek = ">=9.2.0"

[requires]
python_version = ">=3.6.1"
